body {
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

.characterButtons{
    list-style: none;
}

.characterButtons li button{
    width: 100%;
}

.openingCrawl {
    height: 4rem;	
    overflow: hidden;
    position: relative;
    background-color: black;
   }
   .openingCrawl p{
    font-size: .8rem;
    color: white;
    position: absolute;
    height: 100%;
    line-height: 20px;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);	
    transform:translateY(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll {
    0%   { 
    -moz-transform: translateY(100%); /* Firefox bug fix */
    -webkit-transform: translateY(100%); /* Firefox bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Firefox bug fix */
    -webkit-transform: translateY(-100%); /* Firefox bug fix */
    transform: translateY(-100%); 
    }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


 






