body {
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    height: 100%;
}

h1{
    color: rgb(249, 215, 28, 0.7);
    font-size: 60px;
    font-weight: bold;
}

.characterButtons{
    list-style: none;
}

.characterButtons li button{
    width: 100%;
}

.content-containers{
    background-color: rgba(255,255,255,0.4)
}

// Styling credit: https://codepen.io/christopherkade/pen/rJVPjz
.openingCrawl {
    height: 4rem;	
    overflow: hidden;
    position: relative;
    background-color: black;
   }
   .openingCrawl p{
    font-size: .8rem;
    color: white;
    position: absolute;
    height: 100%;
    line-height: 20px;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);	
    transform:translateY(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll {
    0%   { 
    -moz-transform: translateY(100%); /* Firefox bug fix */
    -webkit-transform: translateY(100%); /* Firefox bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Firefox bug fix */
    -webkit-transform: translateY(-100%); /* Firefox bug fix */
    transform: translateY(-100%); 
    }
}







